# ==============================
# ASP.NET Core
# ==============================
bin/
obj/
*.user
*.suo
*.log
*.db
.vs/
appsettings.Development.json

# ==============================
# React / Node
# ==============================
node_modules/
build/
dist/
.env
.env.local